@font-face {
      font-family: Roboto;
      src: url(Fonts/Roboto-Regular.ttf);
      
}
/* 
@font-face {
      font-family: Roboto-thin;
      src: url(Fonts/Roboto-Thin.tff);
}

@font-face {
      font-family: Roboto-lightitalic;
      src: url(Fonts/Roboto-Lightitalic.ttf);
}

@font-face {
      font-family: RoBolto;
      src: url(Fonts/Roboto-Black.tff);
} */

* :not(input) {
      box-sizing: border-box;
      margin: 0;
      font-family: 'Roboto', sans-serif;
}

li {
      display: flex;
      list-style: none;
      padding: 5px 15px;
}

body {
      margin: 0% 10%
}

#logo {
      width: 7.5em;
}

header, #first {
      background-color: rgb(46, 43, 43);
      color: white;
      
}

a {
      text-decoration: none;
}

a:hover {
      cursor: pointer;
}

header {
      padding: 10px 10%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 22px;
      
}

ul {
      display: flex;     
}

#first {
      margin: 0px;
      padding: 10%;
      display: flex;
      justify-content: space-between;
      align-items: center;
}

#placeholder {
      background-color: darkgray;
      padding: 100px;
      width: 60%;
      margin-left: 5%;
      text-align: center;
}

h1 {
      font-size: 58px;
}

#subtext {
      /* font-family: 'Roboto-thin'; */
      padding-right: 10%;
}

.signup {
      border: none;
      background-color: blue;
      color: white;
      padding: 5px 25px;
      border-radius: 5px;
      margin-top: 5px;
}

.signup:hover {
      cursor: pointer;
}

h2 {
      font-size: 48px;
      text-align: center;
}

#pictures {
      display: flex;
      justify-content: space-around;
      margin: 25px 10%;
}

.picture {
      width: 10em;
      height: 10em;
      border: solid 2px blue;
      border-radius: 10px;
}

#one {
      background-image: url(Images/Quiff.jpg);
}

#third {
      background-color: lightgray;
      padding: 10%;
      font-size: 24px;
}

#quote {
      text-align: center;
      /* font-family: 'Roboto-lightitalic'; */
      font-weight: lighter;
      font-style: italic;
}

#quotee {
      text-align: right;
      /* font-family: 'RoBolto'; */
      font-weight: bold;
}

#fourth {
      background-color: blue;
      color: white;
      font-size: 18px;
      margin: 10%;
      padding: 50px 20px;
      border-radius: 10px;
      display: flex;
      justify-content: space-around;
}

#signup2 {
      border: 2px solid white;
      font-size: 18px;
}

footer {
      background-color: rgb(46, 43, 43);
      color: white;
      padding: 30px;
      text-align: center;
}